@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 50px;
  color: #333;
  font-weight: 500;
}

h2 {
  font-size: 40px;
  color: #000;
  font-weight: 500;
}

h3 {
  font-size: 30px;
  color: #000;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  color: #000;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

h5:hover {
  font-size: 16px;
  color: #cc0a0a;
  font-weight: 500;
}

p {
  font-size: 15px;
  color: #000;
}

a {
  color: #cc0a0a;
}

body {
  width: 100%;
}

.container {
  margin: 0 auto;
  min-width: 100%;
  background-color: #f2f2f2;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  opacity: 100%;
}

/*  HEADER  */

header {
  width: 100%;
  background-color: #ffffff;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 10% 0 10%;
  background-color: white;
  padding: 15px 0;
}

.header__logo {
  height: 100%;
}

.header__title {
  display: flex;
  align-items: center;
}

.header__section {
  width: 40%;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item img {
  width: 18px;
  height: 18px;
}

.title {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.title__description {
  margin-top: 5px;
}

.title__name-logo {
  margin: 0;
}

.title__name-logo span {
  color: #666666;
}

.title__line {
  border-left: 2px solid red;
  height: 70%;
  margin: 0 10px 0 10px;
}

/*  BREADCRUMBS  */

.bread-crumbs {
  margin: 0 auto;
  padding: 20px 0px;
  width: 100%;
}

.bread-сrumbs__list {
  list-style: none;
  display: flex;
}

.bread-crumbs__item {
  display: inline;
  font-size: 18px;
  color: #666666;
}

.bread-crumbs__item a {
  color: #888888;
}

.bread-сrumbs__list li + li:before {
  padding: 8px;
  color: black;
  content: '-';
}

/*  CONTENT  */

.content {
  min-width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 30px 0px;
}

/*  PRODUCT-CARD  */

.product-card {
  width: 100%;
  display: flex;
  border: 3px solid #f2f2f2;
  padding: 0;
  margin-bottom: 30px;
  height: 650px;
}

.product-name {
  margin: 20px 0px;
}

.product-card__slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15%;
}

.product-card__images {
  border-left: 3px solid #f2f2f2;
  min-width: 50%;
}

.product-card__content {
  background-color: #f2f2f2;
  min-width: 40%;
}

.product-card__images-slider img {
  width: 100%;
}

.product-card__button-slider {
  margin: 20px auto;
  width: 70px;
  height: 70px;
}

.product-card__btn-order {
  border-radius: 50px;
  padding: 10px 35px;
  border: none;
  background-color: red;
  color: white;
  font-size: 24px;
}

.product-card__buy {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-bottom: 2px solid #888888;
  margin: 40px 40px 0px 40px;
}

.product-card__buy-item {
  font-size: 18px;
  width: 40%;
  margin: 10px auto;
  align-content: center;
  line-height: 2em;
}

.product-card__specs {
  padding: 15px 0px;
  margin: 20px 40px 40px 40px;
}

.product-card__specs-item {
  list-style: none;
  padding: 5px 0;
}

.product-card__specs-name {
  padding: 15px 0;
}

.product-card__specs-list {
  clear: both;
  margin-bottom: 30px;
}

.product-card__specs-item span:first-child {
  float: left;
  padding: 0 0.4em 0 0;
  margin: 0;
}

.product-card__specs-item span + span {
  width: 45%;
  float: right;
  padding: 0 0.4em 0 0;
  margin: 0;
}

.product-card__specs-item::after {
  content: '';
  display: block;
  overflow: hidden;
  height: 1em;
  border-bottom: 1px dotted;
}

.product-card__specs-link {
  padding-top: 40px;
}

.product-description__tabs {
  display: flex;
  border-bottom: 5px solid #cccccc;
  margin-bottom: 20px;
}

.product-description__tab {
  text-transform: uppercase;
  position: relative;
  top: 5px;
  padding: 20px 0px;
  margin-right: 20px;
  color: #888888;
}

.tab-active {
  border-bottom: 5px solid red;
  font-weight: 900;
  color: #000;
}

.product-specifications-tables {
  width: 40%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-specifications-table {
  width: 100%;
}

.product-specifications__link-document {
  margin-top: 30px;
  width: 100%;
}

.product-description {
  width: 55%;
}

.product-description h4 {
  margin-bottom: 15px;
}

.product-description p {
  margin-bottom: 15px;
}

.product-specifications {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

table {
  border-spacing: 2px;
  background-color: #cccccc;
  width: 100%;
}

td {
  padding: 10px;
}

tr:nth-child(odd) {
  background: #ffffff;
}

tr:nth-child(even) {
  background: #f2f2f2;
}

.link-document {
  display: flex;
  margin: 10px 0;
  line-height: 40px;
}

.link-document p {
  margin: 0;
}

.link-pdf::before {
  content: url('image/iconPDF.png');
  align-items: center;
  float: left;
  margin-right: 5px;
}

.link-doc::before {
  content: url('image/iconDOCX.png');
  align-items: center;
  float: left;
  margin-right: 5px;
}

.product-recommended {
  padding-top: 50px;
}

.slider-recomended__header {
  display: flex;
  margin-bottom: 10px;
}

.slider-recomended__title {
  flex-grow: 1;
}

.slider-recomended {
  display: flex;
  justify-content: space-between;
}

.slider-recomended-product-card {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-recomended-product-card__title {
  padding: 10px;
}

.product-discount {
  position: relative;
  top: 60px;
  width: 100%;
  height: 120px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-discount h4 {
  color: white;
}

.product-discount__button {
  color: red;
  background-color: #ffffff;
  border: 0;
  border-radius: 40px;
  padding: 15px 30px;
}

.product-discount__description p {
  color: #ffffff;
}

footer {
  background-color: #ffffff;
  width: 100%;
  padding-top: 90px;

  align-items: center;
}

.footer-link ul li {
  list-style: none;
  margin: 10px 0;
}

.footer-link {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.link-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  padding: 0;
}

.link-list li h4 {
  margin: 0;
}

.link-list li h5 {
  margin: 0;
}

.link-list__facebook {
  background-image: url('image/iconFacebookNoActive.png');
  background-size: 100%;
  height: 35px;
  width: 35px;
  float: left;
}

.icon {
  width: 35px;
}

.link-list__vk {
  background-image: url('image/iconVkNoActive.png');
  background-size: 100%;
  height: 35px;
  width: 35px;
  float: left;
}

.link-list__instagram {
  background-image: url('image/iconInstagramNoActive.png');
  background-size: 100%;
  height: 35px;
  width: 35px;
  float: left;
}

.link-list__instagram:hover {
  background-image: url('image/iconInstagramActive.png');
}

.link-list__vk:hover {
  background-image: url('image/iconVkActive.png');
}

.link-list__facebook:hover {
  background-image: url('image/iconFacebookActive.png');
}

.link-phone {
  content: url('image/iconPhone');
  align-items: center;
  float: left;
  margin-right: 5px;
}

@media (max-width: 1750px) {
  .product-recomended-five {
    display: none;
  }
}

@media (max-width: 1280px) {
  .header__link {
    display: none;
  }

  .header__section {
    width: 7%;
  }

  .product-card {
    height: 580px;
  }

  .wrapper {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 45px;
    color: #333;
    font-weight: 500;
  }

  h2 {
    font-size: 35px;
    color: #000;
    font-weight: 500;
  }

  h3 {
    font-size: 25px;
    color: #000;
    font-weight: 500;
  }

  .product-card {
    height: 580px;
  }

  .product-card__buy {
    margin: 20px 20px 0px 20px;
  }

  .product-card__specs {
    padding: 15px 0px;
    margin: 20px 20px 20px 20px;
  }

  .product-specifications {
    flex-wrap: wrap;
  }

  .product-description {
    width: 100%;
  }

  .product-specifications-table {
    width: 49%;
  }

  .product-specifications-tables {
    width: 100%;
  }

  .product-recomended-four {
    display: none;
  }

  .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .icon li {
    padding: 15px;
  }

  .product-discount {
    flex-direction: column;
  }

  .del1024px {
    display: none;
  }

  .product-card {
    height: 540px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    color: #333;
    font-weight: 500;
  }

  h2 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
  }

  h3 {
    font-size: 23px;
    color: #000;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    color: #000;
  }

  .product-name {
    text-align: center;
  }

  .product-description__tabs {
    justify-content: space-between;
  }

  .del768px {
    display: none;
  }

  .link-list {
    width: 40%;
  }

  .slider-recomended__title {
    text-align: center;
  }

  .slider-recomended__button-left {
    order: -1;
  }

  .product-card {
    flex-direction: column;
    height: auto;
  }

  .product-card__content {
    width: 100%;
    display: flex;
  }

  .product-card__buy {
    flex-direction: column;
    padding-top: 15px;
    width: 50%;
    border: 0;
    align-items: center;
  }

  .product-card__specs {
    width: 50%;
  }

  .product-card__buy-item {
    width: auto;
  }
}

@media (max-width: 560px) {
  h1 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
  }

  h2 {
    font-size: 25px;
    color: #000;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
  }

  a {
    font-size: 16px;
  }

  .del560px {
    display: none;
  }

  .product-specifications-table {
    width: 100%;
  }

  .product-description__tab {
    width: 100%;
    margin: 0;
    padding-left: 30px;
    border-width: 2px 2px 0px 2px;
    border-color: #cccccc;
    border-style: solid;
    top: 3px;
  }

  .product-description__tabs {
    border-bottom: 3px solid red;
  }
}

@media (max-width: 360px) {
  h1 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
  }

  h2 {
    font-size: 25px;
    color: #000;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
  }

  .del360px {
    display: none;
  }

  .product-description img {
    width: 100%;
  }

  a {
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .product-card__content {
    flex-direction: column;
  }

  .product-card__buy {
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  .product-card__buy-item {
    text-align: center;
    font-size: 16px;
    width: 40%;
    margin: 10px auto;
    align-content: center;
    line-height: 2em;
  }

  .product-card__btn-order {
    padding: 10px;
  }

  .product-card__specs {
    width: 100%;
  }

  td {
    font-size: 14px;
  }

  .link-list {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .slider-recomended {
    width: 100%;
    justify-content: center;
  }

  .title__name-logo {
    font-size: 24px;
  }

  .header__section {
    width: 15%;
  }

  .bread-сrumbs__list {
    overflow: hidden;
  }
}
